@page "/testpage"

<PageTitle>Test Page</PageTitle>
<h3>Test Page Works!</h3>
<p>Current time: @DateTime.Now</p>

@code {
    protected override void OnInitialized() {
        Console.WriteLine("TestPage loaded successfully");
    }
}